*{
    background-color: rgb(1, 5, 3);
    margin-top: 0px;

}
div{
    text-align: center;
    
}
button{
    border-radius: 6px;
    background-color: rgb(27, 248, 82);
    color: rgb(10, 3, 3);
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
    box-shadow: 20px;
    margin-top: 14%;
    

    
}
.center{
    justify-content: center;
    color: white;
    margin-top: 13%;
    
}
.head{
    color: rgb(221, 71, 12);
    margin-bottom: 5%;
    font-size: 32px;
    margin-left: 15px;
    display: flex;
    margin-top: 7px;

    
    
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 35px;
    display: flex;
   
}
p{
    color: white;
    margin-top: 8%;
    cursor: pointer;
    font-size: smaller;
}